.DS_Store
/.build
/dist
/WebEditor/node_modules
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.claude/
*.profraw
